@charset "UTF-8";

/*p{
    color: #000;
    font-size: 30px ;
    text-align: left;
    margin: 0;
    font-family: bely,serif;
    font-weight: 400;
    font-style: normal;
}*/

.siteContainer{
    flex-direction: column;

}
.carousel__photo{
    max-width: 700px;
    width: 100%;
}
.mainHeader{
    margin-top: 40px;
    padding-bottom: 70px;
    overflow: ;
    border-bottom: solid 1px  #FCB847;
}
.hidden {
    display: none;
}

.menubtn{
    width: 40px;
    margin-left: -20px;
    padding-right: 70px;
}

.logoimg{
    width:50%;
    
}
.logo {
    width: 50%;
    height: 50%;
    margin-bottom: -80px;
    display: block;
    margin-left: 170px;
    
    

}
nav p{
    font-family: bely, serif;
    color: #222;
    font-size: 45px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}

nav ul{
    float: left;
}
nav ul li {
    float: left;
    list-style: none;
    position: relative;
}
nav ul li a{
    display: block;
    font-family: bely, serif;
    color: #0B182F;
    font-size: 14px;
    padding: 17px 14px;
    text-decoration: none;
    
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: white;
    border:solid 1.5px #BA2329;
    padding: 7px;
    border-radius: 0px 6px 6px 6px;
    transition-delay: 0.3ms;
}
nav ul li:hover ul{
    display: block;
    
}

nav ul li ul li {
    width: 180px ;
    border-radius: 4px;
  }
nav ul li ul li a{
  padding: 10px 14px;
}
nav ul li ul li a:hover{
    background-color: #f3f3f3;
    color:#BA2329;
  }
  a:link, a:visited {
    text-decoration: none;
    color:#313131;

}

a:hover, a:active {
    text-decoration: none;
    color: #666;
}

.welcome{
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: hidden;

}



.banner{
    width: 640px;
}

.productLineImage{
    float:left;
    width: 55%;
    height: 55%;
    padding-bottom: 15px;
}

.productLineImage img{
    opacity: 1;
}

.productLineImage img:hover{
    opacity:0.7;
}
.productimg{
    float:left;
    width: 55%;
    height: 55%; 
}
.adimg{
    float:left;
    width: 50%;
    height: 50%;  
}

.advertismentsImage {
    float: right;
    width: 50%;
    height: 50%; 
}

.advertismentsImage img{
    opacity: 1;
}
.advertismentsImage img:hover{
    opacity: 0.7;
}


.Beginnings{
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: hidden;
    border-bottom: solid 1px  #FCB847;
    

}
.beginningsimage p{
    line-height: 586px;
}
.beginningsimage {
    float:left;
    max-width: 780px;
    max-height: 615px;
    height: 100%;
    width: 100%;
    
}


.Beginningstext{
    
    float: left;
    text-align: left;
}
.Beginningstext p{
    color: #0B182F;
    font-size: 30px ;
    text-align: left;
    margin: 0;
    font-family: bely,serif;
    font-weight: 400;
    font-style: normal;
    
}

.beginningsbottom{
    float: left;
    color: #0B182F;
    font-size: 30px ;
    text-align: left;
    margin: 0;
    font-family: bely,serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-size: 45px;
    font-family: bely,serif;
    color:#BA2329;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
    

}
.footernav{
    margin-top: 90px;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
}

.mainFooter-prod{
    margin-top: 400px;
    border-bottom: solid 1px #FCB847;
}

  

  

@media screen and (min-width: 641px){
   
h2{
    font-size: 45px;
    font-family: bely,serif;
    color:#BA2329;
    margin-top: -10px;
    margin-left: 40px;
    float: left;
}

body{
   
    font-size: 12px;
    color: #333;
    font-family: bely,serif;
    font-weight: 400;
    font-style: normal;
}

a:link, a:visited {
    text-decoration: none;
    color:#313131;

}

a:hover, a:active {
    text-decoration: none;
    color: #666;
}
.hidden {
    display: none;
}



.siteContainer{
    margin: 0 auto;
    padding-left: 20px;
    padding-right:20px;
    flex-direction: row;
}
.mainHeader{
    margin-top: 40px;
    padding-bottom: 40px;
    overflow: ;
    border-bottom: solid 1px  #FCB847;
}
.menubtn{
   max-width: 75px;
   width: 100%;
   
}
.logoimg{
    flex-wrap: wrap;
    max-width:245px;
    width: 100%;
}
nav p{
    font-family: bely, serif;
    color: #222;
    font-size: 45px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}

nav ul{
    float: left;
}
nav ul li {
    float: left;
    list-style: none;
    position: relative;
}
nav ul li a{
    display: block;
    font-family: bely, serif;
    color: #0B182F;
    font-size: 14px;
    padding: 17px 14px;
    text-decoration: none;
    
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: white;
    border:solid 1.5px #BA2329;
    padding: 7px;
    border-radius: 0px 6px 6px 6px;
    transition-delay: 0.3ms;
}
nav ul li:hover ul{
    display: block;
    
    
}

nav ul li ul li {
    width: 180px ;
    border-radius: 4px;
  }
nav ul li ul li a{
  padding: 10px 14px;
}
nav ul li ul li a:hover{
    background-color: #f3f3f3;
    color:#BA2329;
  }
  
.footernav {
    display: block;
    font-family: bely, serif;
    color: #222;
    font-size: 17px;
    padding: 17px 14px;
    text-decoration: none;

}


.copyright{
    font-size: 14px;
}

.logo {
    max-width: 280px;
    max-height: 135px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    margin-bottom: 15px


}

.welcome{
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: hidden;

}

.welcomeimagewithtext {
    float:left;
    max-width: 1920px;
    max-height: 586px;
    width: 100%;
    height: 100%;
}
.banner{
    max-width: 1920px;
    max-height: 586px;
    width: 100%;
    height: 100%;
}
}
.welcomeimagewithtext img {
    opacity: 1;

}

.welcomeimagewithtext img:hover{
    opacity: 0.7;

}
    

.productLine{
    margin-top:40px;
    overflow: hidden;
    border-bottom: solid 1px  #FCB847;
    padding-bottom: 40px;
}

.productLineImage{
    float:left;
    max-width: 900px;
    max-height: 682px;
    width: 100%;
    height: 100%;
}

.productLineImage img{
    opacity: 1;
}

.productLineImage img:hover{
    opacity:0.7;
}
.productimg{
    float:left;
    max-width: 900px;
    max-height: 682px;
    width: 100%;
    height: 100%; 
}
.adimg{
    float:right;
    max-width: 900px;
    max-height: 682px;  
    width: 100%;
    height: 100%;
}

.advertismentsImage {
    float: right;
    max-width: 900px;
    max-height: 682px;
    width: 100%;
    height: 100%;
}

.advertismentsImage img{
    opacity: 1;
}
.advertismentsImage img:hover{
    opacity: 0.7;
}


.mainFooter {
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
    
    border-bottom: solid 1px #FCB847;
}
.footernav ul {
    margin-top: -170px;
    display: inline;
    margin-left: 80px;
    padding-bottom: 100px;
}

.footerlogo{
    float: left;
    max-width:125px; 
    max-height: 125px;
   
    margin-left: 5px;
    width: 100%;
    height: 100%;
}
.hands{
    width:780px;
}
.footerNav{
    float: left;
    max-width:175px;
    max-height:100px;
    margin: 20px;
    width: 100%;
    height: 100%;
}
.footerNav ul li a:hover{
    background-color: #f3f3f3;
    color:#BA2329;

}
nav ul li a:hover{
    background-color: #f3f3f3;
    color:#BA2329; 

}
.copyright{
    float: right;
    height:75px;
    margin: 20px;
}

/*About us Page*/

.Beginnings{
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: hidden;
    border-bottom: solid 1px  #FCB847;

}
.beginningsimage p{
    line-height: 586px;
}
.h2{
    margin-left: 80px;
}
.beginningsimage {
    float:left;
    max-width: 780px;
    max-height: 615px;
    height: 100%;
    width: 100%;
    margin-right: -280px;
}


.Beginningstext{
    overflow: hidden;
    max-width: 1026px;
    width: 100%;
    float: left;
    margin-left: 20px;
    
}
.Beginningstext p{
    color: #0B182F;
    font-size: 30px ;
    text-align: left;
    margin: 0;
    font-family: bely,serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px
}

.beginningsbottom{
    float: left;
    color: #0B182F;
    font-size: 30px ;
    text-align: left;
    margin: 0;
    font-family: bely,serif;
    font-weight: 400;
    font-style: normal;
}

.productLine{
    margin-top:40px;
    overflow: hidden;
    border-bottom: solid 1px  #FCB847;
    padding-bottom: 40px;
}


.approachtext{
    line-height: 482px;
    width: 1900px;
    height: 482px;
}
.approachtext p{
    line-height: 482px;
}

.ad{
    max-width: 200px;
    
}
.ad2{
    max-width: 200px;
    
}
.ad3{
    max-width: 200px;
    
}
.ad4{
    max-width: 200px;
   
}
.ad5{
    max-width: 200px;
}


.carousel-wrapper {
    overflow: hidden;
    
    margin: auto;
  }
  

  .carousel-wrapper * {
    box-sizing: border-box;
    margin-top: 100px;
  }
  
 
  .carousel {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
 
  .carousel__photo {
    opacity: 0;
    position: absolute;
    top:0;
    width: 100%;
    margin: auto;
    padding: 1rem 4rem;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
  }
  
 
  .carousel__photo.initial,
  .carousel__photo.active {
    opacity: 1;
    position: relative;
    z-index: 900;
  }
  .carousel__photo{
    max-width:100%;
    height:auto;
  }
 
  .carousel__photo.prev,
  .carousel__photo.next {
    z-index: 800;
  }
  
  /*  left */
  .carousel__photo.prev {
    transform: translateX(-100%);
    
  }
  
  /* right */
  .carousel__photo.next {
    transform: translateX(100%);
  }
  

  .carousel__button--prev,
  .carousel__button--next {
    position: absolute;
    top:50%;
    width: 3rem;
    height: 3rem;
    background-color: #BA2329;
    opacity: 0.7;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer; 
    margin-top: 100px;
    z-index: 1001; /* Sit on top of everything */
    
  }
  .carousel__button--prev:hover, 
  .carousel__button--next:hover {
      opacity: 1;

  }
  
  .carousel__button--prev {
    left:0;
  }
  
  .carousel__button--next {
    right:0;
  }
  
  
  .carousel__button--prev::after,
  .carousel__button--next::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 54%;
    border-right: 2px solid #6d070a;
    border-bottom: 2px solid #6d070a;
    transform: translate(-50%, -50%) rotate(135deg);
  }
  
  .carousel__button--next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }



  .contact-footer {
    float: right;
    position: relative;
    top: 20px
  
 }
 .footer-contactpage{
    margin-top: 200px;
    top: -10px;
    
 }
 
 .contact-form {
     display: block;
    width:500px;
    height: 500px;
    background-color: #0B182F;
    left: 50%;
    transform: translate(-50%,-30%);
    position: relative;
    border-radius: 14px;
    font-family: "bely", sans-serif;
   
    
   
 
 
 }
 form {
    margin:35px;
    size:100%;
    
 
 }
 
 .input-field {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px #FCB847;
    border-radius: 14px;
    outline: none;
    font-family: "bely",serif;
 
 }
 .textarea-field {
    height: 200px;
    padding-top: 10px;
    margin-bottom: 10px;
 
 }
 
 .contact-title{
    margin-top: 10px;
    text-align: center;
   
 }
 
 .contact-desc {
    
    font-family: "bely", sans-serif;
    font-size: 18px;
    margin-bottom: 300px;
    text-align: center;
    
 }
 
 button{
    padding: 10px 25px;
    background-color: white;
    opacity: 1;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    font-family: "bely",serif;
    font-weight: 400;
    font-size: 20px;
  }
  button:hover{
    background-color: #f3f3f3;
    opacity: 0.8;
  }

  .contact-title{
    text-align: center;
    margin-top: 30px;
   
  }
  .contact-desc{
      margin-top: 17px;
      text-align: center;

  }
  h3{
    font-size: 45px;
    font-family: bely,serif;
    color:#BA2329;
    text-align: center;
   
}
  
}